@font-face {
  font-family: 'Digital';
  src: url(./fonts/DS-DIGI.TTF) format('woff2');
  src: url(./fonts/DS-DIGIB.TTF) format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.container {
  height: 100vh;
  width: 100vw;
  color: lightblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.clock {
  font-family: Digital;
  font-size: 3rem;
  width: 14rem;
  /* border: 1px solid red; */
}

p.clock {
  animation: neon .08s linear infinite;
  /* color: #fff; */
  /* text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff; */

}

.year {
  margin-top: 1rem;
}

@keyframes neon {
  from {
    text-shadow:
      0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34),
      0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92),
      0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.92);
  }

  to {
    text-shadow:
      0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42),
      0 0 12px rgba(30, 132, 242, 0.58),
      0 0 22px rgba(30, 132, 242, 0.84),
      0 0 38px rgba(30, 132, 242, 0.88),
      0 0 60px rgba(30, 132, 242, 1);
  }
}